<style>
    .md-subheader .md-subheader-inner {
        display: block;
        padding: 3px 16px;
    }

    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<md-subheader>
    <md-content style="height: inherit;cursor: auto;">
        <md-list flex style="padding: 0;">
            <md-list-item class="md-1-line" style="padding: 0 8px;">

                <md-button class="md-primary i_btn" aria-label="label" ng-click="onCreateTree()">
                    <md-tooltip>New Node</md-tooltip>
                    <i class="	fa fa-plus"></i>
                </md-button>

                <md-button class="i_btn" aria-label="label">
                    <md-tooltip>Discover</md-tooltip>
                    <i class="	fa fa-search-plus"></i>
                </md-button>


            </md-list-item>
        </md-list>
</md-subheader>



<!-- <md-content style="height: inherit;cursor: auto;">
    <md-list flex style="padding: 0;">
        <div ng-if="forest.length>0">
            <div ng-repeat="tree in forest">
                <md-list-item style="padding: 0 8px;">
                    <div>
                        <tree parent="tree" padding="8" on-node-Click="onAddChild(node)" top-func="onAddChild"> </tree>
                    </div>
                </md-list-item>
            </div>
        </div>
    </md-list>
</md-content> -->

<md-content style="height: inherit;cursor: auto;">
    <md-list flex style="padding: 0;">
        <div ng-if="forest.length>0">
            <div ng-repeat="tree in forest">
                <md-list-item style="padding: 0 8px;">
                    <div>
                        <tree parent="tree" padding="8"> </tree>
                    </div>
                </md-list-item>
            </div>
        </div>
    </md-list>
</md-content>



<!-- <md-list flex style="padding: 0;">
    <md-list-item class="md-1-line" style="padding: 0 8px;">
        <p>{{ parent.title }}</p>
        <md-button class="i_btn" aria-label="label" style="height: 40px; width: 40px; padding:0;" data-ng-click="onNodeClick({node: parent})">
            <i class="	fa fa-plus"></i>
        </md-button>
    </md-list-item>
</md-list>
<div data-ng-if="parent.children.length>0" ng-repeat="child in parent.children">
    <tree data-parent="child" padding="padding+8" data-on-node-click="top-func(node)" top-func="topFunc"> </tree>
</div> -->